.carousel-item{
  width: 674.5px !important;
}
.slide{
  width: 100%;
  height: 300px;

}
.logo_home{
  width: 90px;
  height: 90px;
  position: absolute;
  left: 45%;
  margin-right: -45%;
  margin-top: -50px;
}




.btn-primary{
    background-color: #282c34 !important;
    border-color: #282c34 !important;
  }
  .txt_description{
    text-align: justify;
    font-size: 0.76em;
    padding: 10px;
    margin-top: 40px;
  }
  .bg_login {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .form_login{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .form-signin {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .form-signin img{
     margin-left: 40%;
  }
  
  .txt_cadastro{
      font-size: 0.76em;
  }

  span a{
    color: #282c34 !important;
  }
  .form-control{
      margin-bottom: 10px !important;
  }
  .btn_facebook{
    border-radius: 3px; 
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px; 
    color: rgb(255, 255, 255); 
    cursor: pointer; 
    font-size: 0.82em !important;
    margin: 0px !important; 
    overflow: hidden; 
    padding: 0px 10px; 
    user-select: none; 
    height: 40px !important; 
    background: rgb(59, 89, 152);
  }
  .btn_facebook > div > div{
    text-align: center !important;
  }

  .txtface{
    font-size: 1.2em !important;
    text-align: center;
  }
  